SECRET_KEY=change-me
DEBUG=False
ALLOWED_HOSTS=your-domain.com,service-name.onrender.com
CSRF_TRUSTED_ORIGINS=https://your-domain.com,https://service-name.onrender.com
POSTGRES_DB=cineverse
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=
DB_SSL_REQUIRE=True
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=noreply@cineverse.local
SECURE_SSL_REDIRECT=True
SESSION_COOKIE_SECURE=True
CSRF_COOKIE_SECURE=True
USE_SQLITE=False
