{% load static core_extras %}
<article class="highlight movie-tile">
  <a class="image featured" href="{% url 'movies:detail' movie.slug %}">
    {% with primary=movie.images.first %}
      {% if primary and primary.image %}
        <img src="{{ primary.image.url }}" alt="{{ primary.alt_text }}" loading="lazy" />
      {% else %}
        <img src="{% static 'img/placeholder.svg' %}" alt="No image" loading="lazy" />
      {% endif %}
    {% endwith %}
  </a>
  <h3><a href="{% url 'movies:detail' movie.slug %}">{{ movie.title }}</a></h3>
  <p>{{ movie.release_year }} | {{ movie.duration_minutes }} min | {{ movie.average_rating|rating_badge }}</p>
</article>
